{
  "presets": [
      ["es2015", {"modules": false}],
      "react"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    }
  },
}
