{
  "presets": [
      ["es2015", {"modules": false}],
      "react"
  ],
  "plugins": [
    "transform-export-extensions",
    ["transform-object-rest-spread", { "useBuildIns": false }]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-inline-elements",
        ["transform-runtime", {
          "helpers": true,
          "polifill": false,
          "generator": false,
          "moduleName": "babel-runtime"
        }]
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    }
  },
}
