body {
  background-image: url('image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  > div {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid #818181;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;

    h1,
    h2 {
      color: #212121;
      text-align: center;
    }
  }
}
